<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

 <configuration>
 	<typeAliases>
 		<!-- 공용 -->
 		<typeAlias type="com.chef.app.util.Pager" alias="Pager"/>
 		<typeAlias type="com.chef.app.comment.CommentDTO" alias="CommentDTO"/>
 		
 		<!-- 동국 -->
 		<typeAlias type="com.chef.app.member.MemberDTO" alias="MemberDTO"/>
 		<typeAlias type="com.chef.app.member.MemberFileDTO" alias="MemberFileDTO"/>
 		
 		<!-- 단비 -->
 		<typeAlias type="com.chef.app.recipe.RecipeDTO" alias="RecipeDTO"/>
 		<typeAlias type="com.chef.app.recipe.RecipeImgFileDTO" alias="RecipeImgFileDTO"/>
 		<typeAlias type="com.chef.app.recipe.RecipeReplyDTO" alias="RecipeReplyDTO"/>
 		<typeAlias type="com.chef.app.recipe.RecipeReviewDTO" alias="RecipeReviewDTO"/>
 		<typeAlias type="com.chef.app.recipe.RecipePager" alias="RecipePager"/>
 		<!-- 세령 -->
 		<typeAlias type="com.chef.app.food.FoodDTO" alias="FoodDTO"/>
 		<typeAlias type="com.chef.app.food.StoreImgFileDTO" alias="StoreImgFileDTO"/>
 		<typeAlias type="com.chef.app.food.StoreMidOrderDTO" alias="StoreMidOrderDTO"/>
 		<typeAlias type="com.chef.app.food.StoreOrderDTO" alias="StoreOrderDTO"/>
 		<typeAlias type="com.chef.app.food.StoreReplyDTO" alias="StoreReplyDTO"/>
 		
 		<!-- 정민 -->
 		<typeAlias type="com.chef.app.manager.BuyingHistoryDTO" alias="BuyingHistoryDTO"/>
 		<typeAlias type="com.chef.app.manager.NoticeDTO" alias="NoticeDTO"/>
 		<typeAlias type="com.chef.app.manager.NoticeFileDTO" alias="NoticeFileDTO"/>
 		<typeAlias type="com.chef.app.manager.InquiryDTO" alias="InquiryDTO"/>
 	</typeAliases>
 </configuration>