<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chef.app.member.MemberDAO">

	<select id="wishList" parameterType="MemberDTO" resultType="RecipeDTO">
		SELECT * FROM RECIPE
		WHERE RECIPE_NUM = 
				(
					SELECT RECIPE_NUM 
					FROM BOOKMARK 
					WHERE MEMBER_ID = #{member_id}
				)
	</select>

	<select id="recipeRecentList" resultType="RecipeDTO">
		SELECT * FROM
		(SELECT ROWNUM R,B.* FROM (SELECT * FROM RECIPE ORDER BY CREATE_DATE DESC)B)
		WHERE R BETWEEN 1 AND 3
	</select>
	
	<update id="prfileSnsDelete" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_SNS_URL = NULL
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="prfileSnsAdd" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_SNS_URL = #{profile_sns_url}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="profileDelete" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_NAME = NULL
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="profileChange" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_NAME = #{file_name} 
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="recipeReplyList" parameterType="Map" resultType="RecipeReplyDTO">
		SELECT * FROM 	
			(SELECT ROWNUM R, B.* FROM
				(SELECT * FROM RECIPEREPLY WHERE MEMBER_ID = #{memberdto.member_id} ORDER BY 
					<choose>
						<when test="pager.order == 'old'">
							CREATE_DATE ASC
						</when>
						<otherwise>
							CREATE_DATE DESC
						</otherwise>
					</choose>
				)B)
				WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>
	
	
	<select id="recipeReviewList" parameterType="Map" resultType="RecipeReviewDTO">
		SELECT * FROM 	
			(SELECT ROWNUM R, B.* FROM
				(SELECT * FROM RECIPEREVIEW WHERE MEMBER_ID = #{memberdto.member_id} ORDER BY 
					<choose>
						<when test="pager.order == 'old'">
							CREATE_DATE ASC
						</when>
						<otherwise>
							CREATE_DATE DESC
						</otherwise>
					</choose>
				)B)
				WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>
	
	<select id="recipeList" parameterType="Map" resultType="RecipeDTO">
	SELECT * FROM 	
		(SELECT ROWNUM R, B.* FROM
			(SELECT * FROM RECIPE WHERE MEMBER_ID = #{memberdto.member_id} ORDER BY 
				<choose>
					<when test="pager.order == 'old'">
						CREATE_DATE ASC
					</when>
					<otherwise>
						CREATE_DATE DESC
					</otherwise>
				</choose>
			)B)
			WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
	</select>
	
	
	<select id="getTotalCount" parameterType="Map" resultType="Long">
		SELECT COUNT(RECIPE_NUM) FROM RECIPE
		WHERE MEMBER_ID = #{memberdto.member_id}	
	</select>
	
	<select id="getTotalCountRecipeReview" parameterType="Map" resultType="Long">
		SELECT COUNT(REVIEW_NUM) FROM RECIPEREVIEW
		WHERE MEMBER_ID = #{memberdto.member_id}	
	</select>
	
	<select id="getTotalCountRecipeReply" parameterType="Map" resultType="Long">
		SELECT COUNT(RECIPE_REPLY_NUM) FROM RECIPEREPLY
		WHERE MEMBER_ID = #{memberdto.member_id}	
	</select>
		
	
	<select id="duplication" parameterType="MemberDTO" resultType="int">
		SELECT 
			<choose>
				<when test="member_nickname != null">
					COUNT(MEMBER_NICKNAME) FROM MEMBER
					WHERE MEMBER_NICKNAME = #{member_nickname}
				</when>
				<when test="member_phone != null">
					COUNT(MEMBER_PHONE) FROM MEMBER
					WHERE MEMBER_PHONE = #{member_phone}
				</when>
				<otherwise>
					COUNT(MEMBER_ID) FROM MEMBER
					WHERE MEMBER_ID = #{member_id}
				</otherwise>
			</choose>			
	</select>
	
	<update id="introducesDelete" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_ABOUT_ME = NULL
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<update id="mypageUpdate" parameterType="MemberDTO">
		UPDATE MEMBER SET PROFILE_ABOUT_ME = #{profile_about_me}
		WHERE MEMBER_ID = #{member_id}
	</update>
	
	<select id="mypage" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<select id="kakaoCheck" parameterType="MemberDTO" resultType="int">
		SELECT 
		COUNT(MEMBER_ID) FROM MEMBER
		WHERE MEMBER_ID = #{member_id}
	</select>
	
	<insert id="kakaologin" parameterType="MemberDTO">
		INSERT INTO MEMBER (member_id, member_nickname, kakao_profile_img, member_type)
		VALUES (#{member_id}, #{member_nickname}, #{kakao_profile_img}, #{member_type})
	</insert>
	
	<insert id="join" parameterType="MemberDTO">
		INSERT INTO MEMBER (member_id, member_name, member_mail , member_pwd, member_phone, member_nickname)
		VALUES (#{member_id}, #{member_name}, #{member_mail}, #{member_pwd}, #{member_phone}, #{member_nickname})
	</insert>
	
	<select id="kakaologin2" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER
		WHERE member_id = #{member_id}
	</select>
	
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM MEMBER
		WHERE member_id = #{member_id}
	</select>
	
	<select id="buyList" parameterType="Map" resultMap="StoreOrderDTOMap">
		SELECT *
		FROM STOREORDER SO
	 	INNER JOIN
	 	MIDORDER MO
		ON SO.ORDER_NUM =MO.ORDER_NUM
	 	INNER JOIN
	 	FOOD F
	 	ON MO.FOOD_NUM =F.FOOD_NUM
	 	INNER JOIN
	 	STOREIMG SI
	 	ON F.FOOD_NUM =SI.FOOD_NUM
	 	WHERE SO.MEMBER_ID = #{memberDTO.member_id} AND TO_CHAR(SO.ORDER_DATE,'YYYY-MM-DD') BETWEEN #{startDate} AND #{endDate}
	 	ORDER BY SO.ORDER_DATE DESC
	</select>
	
	<!-- StoreOrderDTO 맵핑 -->
	<resultMap type="StoreOrderDTO" id="StoreOrderDTOMap">
		<id column="ORDER_NUM" property="order_num"/>
		<result column="MEMBER_ID" property="member_id"/>
		<result column="ORDER_PRICE" property="order_price"/>
		<result column="ORDER_STATUS" property="order_status"/>
		<result column="DELIVERY_ADDRESS" property="delivery_address"/>
		<result column="DELIVERY_STATUS" property="delivery_status"/>
		<result column="ORDER_DATE" property="order_date"/>
		<result column="ORDER_NAME" property="order_name"/>
		<result column="ORDER_PHONE" property="order_phone"/>
		<result column="ORDER_MAIL" property="order_mail"/>
		<result column="ORDER_POST" property="order_post"/>
		<collection property="store_ar" javaType="java.util.List" ofType="StoreMidOrderDTO" resultMap="midMap"></collection>
	</resultMap>
	
	<!-- StoreMidOrderDTO 맵핑 -->
	<resultMap type="StoreMidOrderDTO" id="midMap">
		<id column="MID_NUM" property="mid_num"/>
		<result column="ORDER_NUM" property="order_num"/>
		<result column="FOOD_NUM" property="food_num"/>
		<result column="FOOD_COUNT" property="cart_count"/>
		<collection property="foodDTOs" javaType="java.util.List" ofType="FoodDTO" resultMap="foodMap"></collection>
	</resultMap>
	
	<!-- FoodDTO 맵핑 -->	
   <resultMap type="FoodDTO" id="foodMap">
	<id column="FOOD_NUM" property="food_num"/>
   	<result column="FOOD_CATEGORY" property="food_category"/>
   	<result column="FOOD_NAME" property="food_name"/>
   	<result column="FOOD_STOCK" property="food_stock"/>
   	<result column="FOOD_BUYING" property="food_buying"/>
   	<result column="FOOD_PRICE" property="food_price"/>
   	<result column="FOOD_CONTENTS" property="food_contents"/>
   	<result column="CREATE_DATE" property="create_date"/>
   	<result column="UPDATE_DATE" property="update_date"/>
   	<result column="RATING" property="rating"/>
    <association property="storeImgFileDTO" javaType="StoreImgFileDTO" resultMap="storeImgFileMap"/>
   </resultMap>
   
   <!-- StoreImgFileDTO 맵핑 -->
   <resultMap type="StoreImgFileDTO" id="storeImgFileMap">
   	<id column="FOOD_IMG_NUM" property="file_num"/>
   	<result column="FOOD_FILE_NAME" property="file_name"/>
   	<result column="FOOD_NUM" property="food_num"/>
   </resultMap>
   
   <update id="cancleRequest" parameterType="StoreOrderDTO">
   		UPDATE STOREORDER SET ORDER_STATUS = '결제취소요청' WHERE ORDER_NUM=#{order_num}
   </update>
   

</mapper>